body {
  font-family: "Montserrat", sans-serif;
  color: #002c55;
  background: #0066CC;
  background-image: linear-gradient(180deg, #0099CC 0%, #0066CC 20%);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  user-select: none; /* makes text non-selectable*/
}

#nav-title {
  margin: 3% 0% 5% 5%;
  padding-bottom: 10px;
  margin-bottom: 0px;
  font-size: 110px;
  font-weight: 500;
  color: #004e64;
}

#nav-links {
  font-size: 22px;
  text-align: center;
}

.nav-link {
  position: relative;
  float: left;
  width: 25%;
  border-radius: 4px;
}

.nav-link:hover {
  background: rgba(0, 0, 0, .2);
  transition: .5s;
}

a{
  text-decoration: none;
  color: #002c55;
}