body {
  font-family: "Montserrat", sans-serif;
  color: #002c55;
  background: #0066CC;
  background-image: linear-gradient(180deg, #0099CC 0%, #0066CC 20%);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  user-select: none; /* makes text non-selectable*/
}

#nav-title {
  float: left;
  padding-bottom: 10px;
  margin-top: 30px;
  font-size: 110px;
  font-weight: 500;
  color: #004e64;
}

.navHeading {
  margin: 0% 0% 5% 5%;
}



.nav-link {
  position: relative;
  float: left;
  width: 18%;
}
